@import 'normalize.css';
@import 'style.css';
@import 'header.css';
@import 'services.css';
@import 'halls.css';
@import 'booking.css';
@import 'about.css';
@import 'reviews.css';
@import 'faq.css';
@import 'footer.css';