.reviews {
  margin-bottom: 101px;
}

.reviews-title {
  margin-bottom: 45px;
}

.reviews-block {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.reviews-list {
  display: flex;
  margin-bottom: 51px;
}

.reviews-list:last-child {
  margin-bottom: 0;
}

.reviews-img {
  border-radius: 100%;
  width: 280px;
  height: 280px;
  object-fit: cover;
  overflow: hidden;
  margin-right: 20px;
  margin-left: -10px;
}

.reviews-img1 {
  object-position: 0 0;
}

.reviews-img2 {
  object-position: 0 -41px;
}

.reviews-img3 {
  object-position: 0 -85px;
}

.reviews-name {
  text-align: center;
  margin-left: -4%;
  margin-right: auto;
  margin-top: 11px;
  font-size: 20px;
  width: 280px;
}

.reviews-text {
  margin-top: 53px;
  font-size: 20px;
  line-height: 28px;
  width: 668px;
}
