* {
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif !important;
  background-color: #1b1a1b;
  color: #ffffff;
  margin: 0 !important;
}

.container {
  width: 1180px;
  margin: 0 auto;
}

.title {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 40px;
  line-height: 50px;
  margin: 0;
  text-align: center;
}

ul,
ol {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a {
  list-style-type: none;
  color: inherit;
  text-decoration: none;
  margin: 0;
  padding: 0;
}

blockquote {
  margin: 0;
}

fieldset {
  border: none;
  padding: 0;
  margin: 0;
  padding-block: 0px;
  padding-inline: 0px;
  margin-inline: 0px;
}

p {
  margin: 0;
  padding: 0;
}

textarea {
  resize: none;
}

input:focus {
  border: 2px solid #CD06FF;
}

